<header id="page-top" class="container">
  <%= image_tag("sydney.jpg", alt: "Sydney Habour Bridge", class: "img-rounded img-responsive center-block") %>
  <div class="text-center">
    <h1>Hi! I'm Fin.</h1>
    <h1>Welcome to my site :)</h1>
  </div>
</header>

<section id="about" class="background-pink row">
  <div class="padding-top-bottom-20 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div class="text-center">
      <span class="glyphicon glyphicon-heart"></span>
      <h2>About Fin</h2>
    </div>
    <div>
      <div class="col-sm-4"><%= image_tag("fin1.jpg", alt: "fin's photo", size: "230x408", class: "img-circle") %>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <p>I am Fin, a Web Developer from Sydney, Australia. I love to exercise, travel and go shopping. I am currently a student at Coder Factory. I have just started learning Web Development and I am really enjoying it.</p>
        <br>
        <h3>My Skills</h3>
        <ul>
          <li>Web Design</li>
          <li>HTML, CSS, Bootstrap</li>
          <li>Ruby on Rails</li>
          <li>JavaScript, jQuery</li>
          <li>Wordpress</li>
        </ul>
        <h3>Work Experience</h3>
        <ul>
          <li>Operator, Etel Communications</li>
          <li>Operator, Jalco Health Care</li>
        </ul>
        <h3>Education</h3>
        <ul>
          <li>Diploma of Software Development, Coder Factory, Sydney (Currently studying)</li>
          <li>Master of Service Industries and Management, Minghsin University of Science and Technology, Taiwan
          </li>
          <li>Bachelor of International Business, Vanung University, Taiwan</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="portfolio">
  <h2>Portfolio</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tortor quis ultricies ornare. Nullam porta ex condimentum nibh dignissim sollicitudin. In hac habitasse platea dictumst. Morbi enim dui, fringilla eu justo eget, pellentesque
    venenatis est. Ut ut mi ut nunc auctor dapibus. Duis ac velit condimentum, cursus nisl vitae, rhoncus odio. Pellentesque vitae ante non leo porttitor ultrices. Quisque ut elit sed magna feugiat mollis. Vestibulum eget vehicula mi. Ut mollis velit nec
    libero mattis, eget dictum nulla porta. In eget rhoncus felis. Praesent commodo, augue quis elementum finibus, erat risus finibus nunc, nec sagittis libero augue sit amet lorem. Suspendisse quis ullamcorper risus. Sed non maximus lacus. Sed quis
    vestibulum nulla. Proin laoreet nec est a molestie. Cras sagittis ullamcorper risus vitae placerat. Integer ac ultrices leo. Nullam a venenatis nunc. Nulla venenatis id quam sed aliquet. Pellentesque blandit purus vitae lorem mattis tincidunt. Proin
    dui enim, ornare at iaculis non, convallis sed turpis. Duis pretium placerat nisl, ac porta erat congue in. In eu tellus nec mauris ornare cursus at sed nisl. In tellus turpis, sodales vel justo vitae, finibus elementum massa. Nam cursus tempus enim,
    quis pulvinar ipsum condimentum ut. Pellentesque ac urna sed turpis feugiat euismod. Mauris sed luctus ex. Praesent consectetur arcu ullamcorper lobortis placerat. Sed imperdiet arcu ac consectetur malesuada. Phasellus tempus urna ut auctor dictum.
    Aenean volutpat id ipsum eget sodales. Quisque nec ullamcorper lectus. Sed condimentum, nunc in consequat ultrices, lacus nunc scelerisque turpis, quis euismod nunc elit a lectus. Sed sodales iaculis sem eget aliquet. Etiam quis semper nunc. In nec
    ligula nisl. Quisque convallis vulputate risus. Quisque pulvinar magna vel luctus lobortis. Suspendisse a rhoncus nunc. Integer rutrum velit at diam egestas, in tincidunt nulla finibus. Nullam a ex nec mi sollicitudin pulvinar. In sit amet felis
    metus. Nulla ut velit sit amet nisl luctus auctor. Morbi id erat eu leo dapibus facilisis. Integer pharetra sed nisi euismod malesuada. Vivamus id ex eu urna congue iaculis. Donec quis molestie quam, id commodo dolor. Suspendisse sem tellus, cursus
    ac malesuada eget, pellentesque in odio. Proin a libero vestibulum, posuere augue in, semper nibh. Vestibulum ac lacinia arcu. Proin sit amet odio velit. Sed vel est augue. Donec vitae nunc accumsan magna congue luctus condimentum dapibus nunc.
    Nullam mollis ullamcorper leo, vel lacinia orci iaculis fermentum. Donec in consectetur nisi.
  </p>
</section>
<section id="contact">
  <h2>Contact Me</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt tortor quis ultricies ornare. Nullam porta ex condimentum nibh dignissim sollicitudin. In hac habitasse platea dictumst. Morbi enim dui, fringilla eu justo eget, pellentesque
    venenatis est. Ut ut mi ut nunc auctor dapibus. Duis ac velit condimentum, cursus nisl vitae, rhoncus odio. Pellentesque vitae ante non leo porttitor ultrices. Quisque ut elit sed magna feugiat mollis. Vestibulum eget vehicula mi. Ut mollis velit nec
    libero mattis, eget dictum nulla porta. In eget rhoncus felis. Praesent commodo, augue quis elementum finibus, erat risus finibus nunc, nec sagittis libero augue sit amet lorem. Suspendisse quis ullamcorper risus. Sed non maximus lacus. Sed quis
    vestibulum nulla. Proin laoreet nec est a molestie. Cras sagittis ullamcorper risus vitae placerat. Integer ac ultrices leo. Nullam a venenatis nunc. Nulla venenatis id quam sed aliquet. Pellentesque blandit purus vitae lorem mattis tincidunt. Proin
    dui enim, ornare at iaculis non, convallis sed turpis. Duis pretium placerat nisl, ac porta erat congue in. In eu tellus nec mauris ornare cursus at sed nisl. In tellus turpis, sodales vel justo vitae, finibus elementum massa. Nam cursus tempus enim,
    quis pulvinar ipsum condimentum ut. Pellentesque ac urna sed turpis feugiat euismod. Mauris sed luctus ex. Praesent consectetur arcu ullamcorper lobortis placerat. Sed imperdiet arcu ac consectetur malesuada. Phasellus tempus urna ut auctor dictum.
    Aenean volutpat id ipsum eget sodales. Quisque nec ullamcorper lectus. Sed condimentum, nunc in consequat ultrices, lacus nunc scelerisque turpis, quis euismod nunc elit a lectus. Sed sodales iaculis sem eget aliquet. Etiam quis semper nunc. In nec
    ligula nisl. Quisque convallis vulputate risus. Quisque pulvinar magna vel luctus lobortis. Suspendisse a rhoncus nunc. Integer rutrum velit at diam egestas, in tincidunt nulla finibus. Nullam a ex nec mi sollicitudin pulvinar. In sit amet felis
    metus. Nulla ut velit sit amet nisl luctus auctor. Morbi id erat eu leo dapibus facilisis. Integer pharetra sed nisi euismod malesuada. Vivamus id ex eu urna congue iaculis. Donec quis molestie quam, id commodo dolor. Suspendisse sem tellus, cursus
    ac malesuada eget, pellentesque in odio. Proin a libero vestibulum, posuere augue in, semper nibh. Vestibulum ac lacinia arcu. Proin sit amet odio velit. Sed vel est augue. Donec vitae nunc accumsan magna congue luctus condimentum dapibus nunc.
    Nullam mollis ullamcorper leo, vel lacinia orci iaculis fermentum. Donec in consectetur nisi.
  </p>
</section>
