// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background-pink {
  background-color: #ECDCE5;
}

.padding-top-bottom-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

p, li {
  font-size: 18px;;
}
