// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact .genericon {
  font-size: 50px;
  color: #555;
}

#contact a:focus,
#contact a:hover {
  text-decoration: none;
  color: #D0298B;
}
